body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 126px;
  width: 264px;
  margin: 126px auto;
  background-color: darkolivegreen;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgb(171, 170, 170);
}

.residencyCheckbox {
  margin: 12px auto;
}

.dropdown {
  margin: 12px auto;
  display: flex;
  flex-direction: column;
}


